<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GGyaan</title>

    <!-- Bootstrap core CSS -->
	 <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/blog-home.css') }}" rel='stylesheet' type='text/css'>

  </head>

  <body>
	
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Internship GGyaan - A to Z of Internship </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
			{% if session['type'] == 'ic' %}
            <li class="nav-item active">
              <a class="nav-link" href="/msg">Messages</a>
            </li>
			
			
			
			<li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
			
			<li class="nav-item">
              <a class="nav-link" href="/showattendance">Attendance</a>
            </li>
			
			<li class="nav-item">
              <a class="nav-link" href="/qrgen">QRGen</a>
            </li>
			
			
			
            <li class="nav-item">
              <a class="nav-link" href="/company">Company</a>
			  </li>
			  
	<li class="nav-item">
	
	{% endif %}
  <a class="nav-link"/ href="/logout">Logout</a>
  
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        
		<div class="col-md-8">
          <br>
          <h1 class="my-4">Alert
            
          </h1>

          <!-- Blog Post -->
          <div class="card mb-4 bg">
            <div class="card-body">

              <form action="/msgfill" method="post">
                		
				<input type="text" required name="sub" style="width:100%;padding-left:12px;padding-bottom:5px" placeholder="Subject">		
				<br><br>	
				<select  class="form-control" name="cname">
					<option>General</option>
					{% for i in companylist %}
						<option>{{i[0]}}</option>
					{% endfor %}
			
				</select>
				
                
				<br>
				
				<textarea class="span6" name="message" style="width:100%;font-size:15px;padding-left:12px;padding-top:5px" rows="5" placeholder="What's up?" required></textarea>
				
                <br><br>
               
                <button type = "submit" class="btn btn-primary"/>Send</button>
                <button type="reset" class="btn btn-primary"/>Reset</button>
				
              </form>
            </div>
            <div class="card-footer text-muted">
              These alerts are subject to changes!
            </div>
          </div>

		  
		  
		
		  
		  
		  
		  
		  
		  
		  
		  
		  
        
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4" color="">
            <h5 class="card-header">Hello {{session['fname']}} !</h5>
            <div class="card-body">
			{% if nflag==0 %}
			<p><b> Profile Complete </b></p>
			<p><b> Good Job ! </b></p>
			
			{% else %}
			
              <p><b> Profile Incomplete ! </b></p>
			  <p><b> Please fill these details ASAP: </b></p>
			  
			  {% if stud[4] == None %}
			  <p style="padding-left:25px;margin:0"> Address </p>
			  {% endif %}
			  {% if stud[5] == None %}
			  <p style="padding-left:25px;margin:0"> CGPA </p>
			  {% endif %}
			  {% if stud[6] == None %}
			  <p style="padding-left:25px;margin:0"> Resume Link </p>
			  {% endif %}
			  {% if stud[7] == None %}
			  <p style="padding-left:25px;margin:0"> Test Experience </p>
			  {% endif %}
			  {% endif%}
            </div>
          </div>
			
          <!-- Companies Widget -->
          <div class="card my-4">
            <h5 class="card-header">Companies to follow</h5>
            <div class="card-body">
              <div class="row">
                
                <div class="col-lg-8">
                  <ul class="list-unstyled mb-0">
				  
				  {% if session['companylist']|length==0: %}
				  <p><b> No new companies </b></p>
				  {%else%}
				  
					{% for i in session['companylist']: %}
                    <li>
                      <a href="/follow?company={{session['companylist'].index(i)}}"><button class="btn btn-primary" style="margin:5px">{{i[0]}}</button></a>
                    </li>
					
					{% endfor %}
                   {%endif%} 
                  </ul>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GGyaan</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
 
	<script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	


  </body>

</html>
