<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
	 <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/blog-home.css') }}" rel='stylesheet' type='text/css'>

  </head>

  <body>
	
	

	
	
	
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Internship GGyaan - A to Z of internship </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            {% if session['type'] == 'ic' %}
			<li class="nav-item">
              <a class="nav-link" href="/msg">Messages</a>
            </li>
			{% endif %}
			{% if session['type'] == 'ic' %}
	
            <li class="nav-item">
              <a class="nav-link" href="/company">Company</a>
			  </li>
	{% elif session['type'] == 'admin' %}
	 <li class="nav-item">
              <a class="nav-link" href="/addic">IC</a>
			  </li>
	<li class="nav-item">
	
	{% endif %}
	
		<li class="nav-item">

  <a class="nav-link"/ href="/logout">Logout</a>
  
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        
		<div class="col-md-8">

          <h2 class="my-4">Welcome Back {{session['fname']}}!
            <!--<small>You might have missed something when you were away...</small> -->
          </h2>
		    <!-- Blog Post -->
		  {% for i in newsfeed: %}
			<div class="card mb-4">
					<div class = "row">
						<div class="card-body col-md-10">
							<h2 class="card-title" style="padding-left:10px">{{i[1]+" : "+i[0]}}</h2>
							<p class="card-text" style="padding-left:25px">{{i[2]}}</p>
						</div>
						<div  style="display:flex;align-items:center;justify-content:center" class="col-md-2">
							<img align="middle" style="auto;max-height:64px;max-width:64px;"  src={{"//logo.clearbit.com/"+urls[newsfeed.index(i)]}} alt="card img cap">
						</div>
					</div>
					<div class="card-footer text-muted">
						Posted on {{i[4]}} by {{i[3]}} 
					</div>
				
			</div>
		   {% endfor %}
		   
          

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Companies Widget -->
          <div class="card my-4">
            <h5 class="card-header">Companies to follow</h5>
            <div class="card-body">
              <div class="row">
                
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
				  
					{% for i in session['companylist']: %}
                    <li>
                      <a href="/follow?company={{session['companylist'].index(i)}}"><button class="btn" style="margin:5px">{{i[0]}}</button></a>
                    </li>
					
					{% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
 
	<script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
   
	<script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
  
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

  </body>

</html>
