<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Profile</title>

  
  
  
  
  
  
  <link href="{{ url_for('static', filename='css/google-style.css') }}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  
</head>

<body>
  
  <div class="form">
      
      
      <div class="tab-content">
          <h1>Profile</h1>
          
          <form action="/profilefill" method="post">
          
          
          
          <div class="field-wrap">
            <label>
              Address
            </label>
            <input type="text" autocomplete="on" value="" name="addr"/>
          </div>

          <div class="field-wrap">
            <label>
              CGPA
            </label>
            <input type="number" step="0.01"   autocomplete="on" value="" name="cgpa"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Resume Link
            </label>
            <input type="text"  autocomplete="on" value="" name="resume"/>
          </div>
		  
		  
		  <div class="field-wrap">
            <label>
              Test Experience
            </label>
            <input type="text"  autocomplete="on" value="" name="testexp"/>
          </div>

		 
		  
          <button type="submit" class="button button-block"/>Submit</button>
          <button type="reset" class="button button-block"/>Reset</button>

          </form>
		  <form action="/login" method="get">

          <button type="submit" class="button button-block"/>Back</button>
			</form>
        </div>
        
        
		
		
		
		
		
		
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
